.dashboard {
  width: 1440px;
  max-width: 100%;
  margin: auto;
}

.dashboardHeader {
  width: 100%;
  height: auto;
  margin: auto;
  /* background-color: aqua; */
}

.dashboardHeader__card-container {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.dashboard_graph_orders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 1em;
  flex-wrap: wrap;
}

/* .dashboard_graph {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */