ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    padding: 0;
    text-decoration: none;
    color: black ;
}

.dropdown_container{
    width: 300px;
    display: flex;
    height: auto;
    z-index: 1;
    flex-direction: column;
    position: absolute;
    /* padding: 10px; */
    top: 100%;
    right: -8%;
    border-radius: 2px;
    background-color: white;
}

.dropdown_item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    font-size: 1.15em;
    /* background-color: red !important; */
}

.dropdown_item_link{
    display: flex;
    align-items: center;
}

.dropdown_item:hover{
    background-color: #EEEEEE;
    color: var(--color-blue-main);
}