:root{
  --color-red-wine: #7B241C;
  --color-red-wine-darker: #641E16;
  --color-white: #FFFFFF;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}
