:root{
  --color-blue-main: #021e43;
  --color-blue-secundary: #00377a;
  --color-white: #FFFFFF;
  --color-gray-main: #CCCCCC;
  --color-yellow-main: #FBA20C;
  --color-red-main: #922B21;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.quill {
  background-color: white;
}

.icons-hover-update{
  transition: color 500ms ease;
}

.icons-hover-delete{
  transition: color 500ms ease;
}

.icons-hover-delete:hover{
  color: var(--color-red-main);
}

.icons-hover-update:hover{
  color: var(--color-yellow-main);
}

.add-btn{
  background-color: var(--color-blue-main);
}

.add-btn:hover{
  background-color: var(--color-blue-secundary) !important;
}
